<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../includes/header.ejs %>
    <title>Novo Imóvel</title>
</head>
<body>
    <% include ../includes/adminbar.ejs %>
    <div class="container" style="padding: 100px 20px 150px 20px;">
        <% include ../includes/fineuploader.ejs %>
        <form action="/admin/imoveis/new" method="POST">
            <label for="cep">Cep:</label>
            <input type="text" name="cep" class="form-control">
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" class="form-control">
            <label for="valor">Valor:</label>
            <input type="number" name="valor" class="form-control">
            <label for="condominio">Condominio:</label>
            <input type="number" name="condominio" class="form-control">
            <label for="iptu">IPTU:</label>
            <input type="number" name="iptu" class="form-control">
            <br>
            <label>Modalidade:</label>
            <br>
            <div class="radio-inline">
                <label><input type="radio" name="isVenda" id="isVenda" value="true" checked>Venda</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="isVenda" id="isVenda" value="false">Aluguel</label>
            </div>
            <br>
            <br>
            <label>Oportunidade Única:</label>
            <br>
            <div class="radio-inline">
                <label><input type="radio" name="isOportunidade" id="isOportunidade" value="true">Sim</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="isOportunidade" id="isOportunidade" value="false" checked>Não</label>
            </div>
            <br>
            <br>
            <label>Destaque:</label>
            <br>
            <div class="radio-inline">
                <label><input type="radio" name="isDestaque" id="isDestaque" value="true">Sim</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="isDestaque" id="isDestaque" value="false" checked>Não</label>
            </div>
            <br>
            <br>
            <label for="tipo">Tipo:</label>
            <% include ../includes/select-tipo.ejs %>
            <label for="procedencia">Procedência: </label>
            <select name="procedencia" class="form-control" id="select_procedencia">
                <option value="construcao">Em Construção</option>
                <option value="novo">Novos / Prontos (1ª venda)</option>
                <option value="revenda" selected>Pronto Revenda</option>
            </select>
            <label for="bairro">Bairro:</label>
            <% include ../includes/select-bairro.ejs %>
            <label for="mPrivativo">Metros Privativos:</label>
            <input type="number" name="mPrivativo" class="form-control">
            <label for="mTotal">Metros Total:</label>
            <input type="number" name="mTotal" class="form-control">
            <label for="dormitorios">Dormitorios:</label>
            <input type="number" name="dormitorios" class="form-control">
            <label for="suites">Suítes:</label>
            <input type="number" name="suites" class="form-control">
            <label for="banheiros">Banheiros:</label>
            <input type="number" name="banheiros" class="form-control">
            <label for="vagas">Vagas:</label>
            <input type="number" name="vagas" class="form-control">
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Gravar</button>
            <a class="btn btn-primary" href="/admin/imoveis">Voltar</a>
        </form>
    </div>
    <% include ../includes/adminfooter.ejs %>
</body>
</html>