<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../includes/header.ejs %>
    <title>Admin</title>
</head>
<body>
    <% include ../includes/adminbar.ejs %>
    <div class="d-flex nobg align-items-center justify-content-center">
        <h1>Bem-vindo!<h1>
    </div>
    <% include ../includes/adminfooter.ejs %>
</body>
</html>